/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



 html, body { height: 100%; width: 100%; margin: 0; }
 div { height: 100%; width: 100%; }

nav ul a,
nav .brand-logo {
  color: #444;
}



/* label color */
 .input-field label {
   color: #b0813d;
 }

 .input-field input[type=text]{
    color:white;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #b0813d;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
   color:white;
 }


.middleborder{
  border-left:1px solid #333333;
  border-right:1px solid #333333;
}

.topborders{
  border-top:1px solid #333333;
}

.instaborder{
  border-right:1px solid #333333;
}
.facebookborder{
  border-right:1px solid #333333;
}
.twitterborder{
  border-right:1px solid #333333;
}
.emailborder{
  border-left:1px solid #333333;
  border-right:1px solid #333333;
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.fullheight {
  height: 100vh;

}

.parallax-container {

  line-height: 0;
  height: 100vh;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.StoryTile{
  background: linear-gradient(rgba(96, 77, 56, 0.9), rgba(96, 77, 56, 0.9)), url(https://upload.wikimedia.org/wikipedia/commons/5/54/Tobacco_field_cuba1.jpg);
  background-size: cover;
}
.StoryTile:hover{
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(https://upload.wikimedia.org/wikipedia/commons/5/54/Tobacco_field_cuba1.jpg);
  background-size: cover;
}

.FamilyTile{
  background: linear-gradient(rgba(4, 3, 3, 0.8), rgba(4, 3, 3, 0.8)), url(http://www.smokemag.com/0605/qa1.jpg);
  background-size: cover;
}
.FamilyTile:hover{
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(http://www.smokemag.com/0605/qa1.jpg);
  background-size: cover;
}

.InspirationTile{
  background: linear-gradient(rgba(01, 01, 01, 0.8), rgba(01, 01, 01, 0.8)), url(http://www.onehundredmain.com/images/CharlesMorgan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:70%;
}
.InspirationTile:hover{
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(http://www.onehundredmain.com/images/CharlesMorgan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:70%;
}

.PhotosTile{
  background: linear-gradient(rgba(01, 01, 01, 0.8), rgba(01, 01, 01, 0.8)), url(http://st.depositphotos.com/1814366/1503/i/950/depositphotos_15038481-Business-collage.jpg);
  background-size: cover;
}
.PhotosTile:hover{
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(http://st.depositphotos.com/1814366/1503/i/950/depositphotos_15038481-Business-collage.jpg);
  background-size: cover;
}

.EventsTile{
  background: linear-gradient(rgba(96, 77, 56, 0.9), rgba(96, 77, 56, 0.9)), url(  http://s3-media2.fl.yelpcdn.com/bphoto/E2Wj7KgoDASRzroJ0MmHJw/o.jpg);
  background-size: cover;
}
.EventsTile:hover{
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(  http://s3-media2.fl.yelpcdn.com/bphoto/E2Wj7KgoDASRzroJ0MmHJw/o.jpg);
  background-size: cover;
}

.tiletext{
  color:white;

}

.basicPageContent{
  color:black;
  font-family: 'freight-big-pro';
  font-weight:400;
  font-size:large;
  text-align: left;
}

.tiles{
  height:33.4%;
}

.lineUnder_white{
  width:20px;height:2px;background-color:#b0813d;border:none;margin-top:0px;
}
.lineUnder_white2{
  width:130px;height:2px;background-color:#b0813d;border:none;margin-top:10px;
}
.lineUnder_white3{
  width:100%;height:1px;background-color:white;border:none;margin-top:20px;
}

.navlinky:hover{
  color:#b0813d;
}
.navlinky{
  color:white;
}

.btnLight{
      background-color:rgba(156,156,156,0.15);color:black;border-radius: 0px;border: 1px solid rgba(156,156,156,0.15);border-left:none;border-right:none;box-shadow: none;
}
.btnLight:hover{
    background-color:#ececec;
    box-shadow: none;
}

.btnDark{
      background-color:rgba(0,0,0,0.2);color:black;border-radius: 0px;border: 1px solid rgba(0,0,0,0.2);border-left:none;border-right:none;box-shadow: none;
}
.btnDark:hover{
    background-color:#ececec;
    box-shadow: none;
}



.orinocoButton_light {
    background-color:rgba(156,156,156,0.15);
    color:black;
    padding-left: 10px;
    padding-right:10px;

    font-weight: normal;
    font-style: normal;

    border:3px double rgba(156,156,156,0.15);
    border-left: none;
    border-right: none;


    text-decoration: none;
    text-transform: uppercase;


  }

  #mainheadline{
    margin-top: 10%;
  }

  #menupoper{
  margin-left:44%;
  }


@media only screen and (max-width : 992px) {

  #mainheadline{
    margin-top: 25%;
  }

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .middleborder{
    border-left:1px solid #333333;
    border-right:none;
    border-top:none;
    border-bottom:none;
  }
  .emailborder{
    border-left:1px solid #333333;
    border-right:none;
    border-top:1px solid #333333;
    border-bottom:1px solid #333333;
  }
  .contactborder{
    border-bottom:1px solid #333333;
  }
}

@media only screen and (max-width : 600px) {

  #menupoper{
  margin-left:37%;
  }

  #mainheadline {
    margin-top:55%;
  }

  #index-banner .section {
    top: 0;
  }
  .middleborder{
    border-left:none;
    border-right:none;
    border-top:1px solid #333333;
    border-bottom:none;
  }
  .emailborder{
    border-left:none;
    border-right:none;
    border-top:1px solid #333333;
    border-bottom:1px solid #333333;
  }
  .contactborder{
    border-bottom:none;
  }
  .tiles{
    height:16.7%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footerboxes{
  box-sizing:border-box;
}
