/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



 html, body { height: 100%; width: 100%; margin: 0; }
 div { height: 100%; width: 100%; }

nav ul a,
nav .brand-logo {
  color: #444;
}

/* label color */
 .input-field label {
   color: #b0813d;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #b0813d;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 }


.middleborder{
  border-left:1px solid #eeeeee;
  border-right:1px solid #eeeeee;
}

.topborders{
  border-top:1px solid #eeeeee;
}

.instaborder{
  border-right:1px solid #eeeeee;
}
.facebookborder{
  border-right:1px solid #eeeeee;
}
.twitterborder{
  border-right:1px solid #eeeeee;
}
.emailborder{
  border-left:1px solid #eeeeee;
  border-right:1px solid #eeeeee;
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.fullheight {
  height: 100vh;

}

.parallax-container {

  line-height: 0;
  height: 100vh;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .middleborder{
    border-left:1px solid #eeeeee;
    border-right:none;
    border-top:none;
    border-bottom:none;
  }
  .emailborder{
    border-left:1px solid #eeeeee;
    border-right:none;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
  }
  .contactborder{
    border-bottom:1px solid #eeeeee;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .middleborder{
    border-left:none;
    border-right:none;
    border-top:1px solid #eeeeee;
    border-bottom:none;
  }
  .emailborder{
    border-left:none;
    border-right:none;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
  }
  .contactborder{
    border-bottom:none;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footerboxes{
  box-sizing:border-box;
}
